@{
    ViewBag.Title = "Home Page";
}

@model GoalieWeb.Models.HomeView

@section scripts
{
    @Scripts.Render("~/bundles/home")
}

<table id="goalsTable" class="table table-hover">
    <tbody>
        @foreach (var goal in Model.Goals)
        {
            <tr data-toggle="collapse" href="@($"#collapse{goal.GoalId}")" data-goal-id="@goal.GoalId">
                <td class="goal-title">@goal.Title</td>
                <td><button type="button" class="btn btn-primary edit-goal">Edit</button></td>
                <td><button type="button" class="btn btn-info view-progress">View Progress</button></td>
                <td><button type="button" class="btn btn-success complete-goal">Complete</button></td>
            </tr>
            <tr class="hide-table-padding">
                <td colspan="4">
                    <div id="@($"collapse{goal.GoalId}")" class="collapse goal-details">
                        @goal.Details
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

